{% extends "new_base.html" %}
{% block content %}
<!-- Page Content -->
<div class="container">

    <!-- Jumbotron Header -->
    <header class="jumbotron my-4">
        <h1 class="display-3">Новости шахмат</h1>
        {% if login %}
            <h1>Здравствуйте Михаил</h1>
        {% endif %}
        <p class="lead">На нашем сайте вы найдете анонсы, результаты, промежуточные итоги соревнований. Также доступна онлайн-регистрация на соревнования.</p>
    </header>
    <!--<img src="/img/log.png" alt="aaaaaaa">-->

    <!-- Page Features -->
    <div class="row text-center">
        {% for tournament in tournaments %}
            {% ifequal tournament.name "Этап Кубка России по шахматам 2019 года" %}
                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="card h-100">
                        <img class="card-img-top" src="http://www.chess22.ru/images/albums/kubok-altaya-2019-nagrazhdenie/dsc_0003.jpg" height="160" alt="Кубок России">
                        <div class="card-body">
                            <h4 class="card-title">{{ tournament.name }}</h4>
                            <p class="card-text">Турнир состоится с {{ tournament.date_start }} по {{ tournament.date_end }} в городе {{ tournament.city_name }}</p>
                        </div>
                        <div class="card-footer">
                            <div class="row">
                                <div class="col-5">
                            <a href="/tournaments/info/{{ tournament.id }}" class="btn btn-primary">Подробнее</a>
                                </div>
                                <div class="col-7">
                            <a href="/tournaments/registration/{{ tournament.id }}" class="btn btn-primary">Регистрация</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endifequal %}
            {% ifequal tournament.name "Чемпионат подъезда 2019" %}
                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="card h-100">
                        <img class="card-img-top" src="http://www.chess22.ru/images/albums/quot-estafeta-pobedyi-quot-v-kamne-chast-2/280.jpg" height="160" alt="Кубок России">
                        <div class="card-body">
                            <h4 class="card-title">{{ tournament.name }}</h4>
                            <p class="card-text">Турнир состоится с {{ tournament.date_start }} по {{ tournament.date_end }} в городе {{ tournament.city_name }}</p>
                        </div>
                        <div class="card-footer">
                            <div class="row">
                                <div class="col-5">
                                    <a href="/tournaments/info/{{ tournament.id }}" class="btn btn-primary">Подробнее</a>
                                </div>
                                <div class="col-7">
                                    <a href="/tournaments/registration/{{ tournament.id }}" class="btn btn-primary">Регистрация</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endifequal %}
        {% endfor %}
    </div>
    <!-- /.row -->

</div>
<!-- /.container -->

{% endblock %}
