{% extends "new_base.html" %}
{% block content %}
<div class="alert alert-info" role="alert">
    <a href="/tournaments/add" type="button" class="btn btn-info">Добавить турнир</a>
</div>
{% if tournaments %}
<h1 class="p-3">Турниры</h1>
<div class="container">
    <table class="table table-sm">
        <thead>
        <tr>
            <th scope="col">Название</th>
            <th scope="col">Город</th>
            <th scope="col">Дата начала</th>
            <th scope="col">Дата окончания</th>
            <th scope="col">Адрес</th>
            <th scope="col">Информация</th>
        </tr>
        </thead>
        <tbody>
        {% for tournament in tournaments %}
            <tr>
                <td>{{ tournament.name }}</td>
                <td>{{ tournament.city_name }}</td>
                <td>{{ tournament.date_start }}</td>
                <td>{{ tournament.date_end }}</td>
                <td>{{ tournament.adress }}</td>
                <td><a class="btn btn-ms btn-block btn-outline-primary" href="/tournaments/info/{{ tournament.id }}">Подробнее</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% else %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h4 class="text-center m-5">
                Турниров еще нет
            </h4>
        </div>
    </div>
</div>
{% endif %}

{% endblock %}
