{% extends "base.html" %}
{% block content %}
<div class="alert alert-info" role="alert">
    <a href="/tournaments/{{ tournament.id }}/prev_list" type="button" class="btn btn-info text-light">Предварительный список</a>
    <a href="/tournaments/{{ tournament.id }}/start_list" type="button" class="btn btn-info text-light">Стартовый список</a>
    <a type="button" class="btn btn-info text-light" data-toggle="modal" data-target="#exampleModal">Удалить турнир</a>

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Удаление турнира</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Вы уверены, что хотите удалить турнир?
                </div>
                <div class="modal-footer">
                    <a type="button" class="btn btn-secondary text-light" data-dismiss="modal">Отмена</a>
                    <a href="/tournaments/{{ tournament.id }}/delete" type="button" class="btn btn-primary">Да</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h4 class="text-center m-5">
                Соревнование {{ tournament.name }}
            </h4>
        </div>
    </div>
</div>

<div class="container">
    <div id="infoTournament" class="row">
        <div class="col-md-4 order-md-2 mb-4">
            <h4 class="d-flex justify-content-between align-items-center mb-3">
                <span class="text-muted">Информация о турнире</span>
            </h4>
            <ul class="list-group mb-3">
                <li class="list-group-item d-flex justify-content-between bg-light">
                    <div>
                        <h6 class="my-0">Название</h6>
                        <span class="text-muted">{{ tournament.name }}</span>
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between bg-light">
                    <div>
                        <h6 class="my-0">Субьект</h6>
                        <span class="text-muted">{{ tournament.region}}</span>
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between bg-light">
                    <div>
                        <h6 class="my-0">Город</h6>
                        <span class="text-muted">{{ tournament.city_name }}</span>
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between bg-light">
                    <div>
                        <h6 class="my-0">Дата начала</h6>
                        <span class="text-muted">{{ tournament.date_start }}</span>
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between bg-light">
                    <div>
                        <h6 class="my-0">Дата окончания</h6>
                        <span class="text-muted">{{ tournament.date_end }}</span>
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between bg-light">
                    <div>
                        <h6 class="my-0">Контроль времени</h6>
                        <span class="text-muted">{{ tournament.time_control }}</span>
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between bg-light">
                    <div>
                        <h6 class="my-0">Доп. показатели</h6>
                        <span class="text-muted">{{ tournament.indicator }}</span>
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between bg-light">
                    <div>
                        <h6 class="my-0">Адрес проведения</h6>
                        <span class="text-muted">{{ tournament.adress }}</span>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-md-8 order-md-2 mb-4">
            <form role="form" method="POST" action="/tournaments/register">
                {% csrf-field %}

                <div class="form-group">
                    <label for="last_name">Фамилия</label>
                    <input type="text" class="form-control" name="last_name" id="last_name" placeholder="Иванов">
                </div>

                <div class="form-group" hidden>
                    <label for="tournament">Турнир</label>
                    <input type="text" class="form-control" name="tournament" id="tournament" value="{{ tournament.id }}">
                </div>

                <div class="form-group">
                    <label for="first_name">Имя</label>
                    <input type="text" class="form-control" name="first_name" id="first_name" placeholder="Иван">
                </div>

                <div class="form-group">
                    <label for="patro">Отчество</label>
                    <input type="text" class="form-control" name="patro" id="patro" placeholder="Иванович">
                </div>

                <div class="form-row">
                    <div class="container col-12">
                        <div class="form-group">
                            <label for="date_born">Дата рождения</label>
                            <input type="date" name="date_born" class="form-control" id="date_born">
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label>Пол</label>
                    {% for s in sex %}
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="sex" id="sex2" value="{{ s.id }}">
                            <label class="form-check-label" for="sex2">
                                {{ s.name }}
                            </label>
                        </div>
                    {% endfor %}
                </div>

                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" name="email" id="email" placeholder="Иванович">
                </div>

                <div class="form-group">
                    <label for="rating_fide">Рейтинг ФИДЕ</label>
                    <input type="text" class="form-control" name="rating_fide" id="rating_fide" placeholder="0">
                </div>

                <div class="form-group">
                    <label for="rating_rus">Рейтинг россиский</label>
                    <input type="text" class="form-control" name="rating_rus" id="rating_rus" placeholder="1000">
                </div>

                <div class="form-group">
                    <label for="title">Звание</label>
                    <select class="form-control" name="title" id="title">
                        {% for title in titles %}
                        <option value="{{ title.id }}">{{ title.code }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group">
                    <label for="title_rus">Спортивный разряд</label>
                    <select class="form-control" name="title_rus" id="title_rus">
                        {% for title-rus in titles-rus %}
                            <option value="{{ title-rus.id }}">{{ title-rus.name }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group">
                    <label for="region">Субъект</label>
                    <select class="form-control" name="region" id="region">
                        {% for region in regions %}
                            <option value="{{ region.id }}">{{ region.name }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group">
                    <label for="adress">Адрес</label>
                    <input type="text" class="form-control" name="adress" id="adress" placeholder="ул. Островского 8-108">
                </div>

                <div class="form-group">
                    <label for="telephon">Телефон</label>
                    <input type="text" class="form-control" name="telephon" id="telephon" placeholder="+79639896548">
                </div>
                <div class="form-group">
                    <div class="form-check">
                        <input class="form-check-input" name="yes" type="checkbox" value="1" id="defaultCheck1">
                        <label class="form-check-label" for="defaultCheck1">
                            Согласие на обработку персональных данных
                        </label>
                    </div>
                </div>

                <button type="submit" class="btn btn-info">
                    Зарегистрироваться
                </button>
            </form>
        </div>
    </div>
</div>

{% endblock %}
