{% extends "base.html" %}
{% block content %}
<script>
    setTimeout(function(){
        location.reload();
    }, 15000);
</script>

<div class="alert alert-info" role="alert">
    <a href="/tournaments/info/{{ tournament.id }}" type="button" class="btn btn-info text-light">Назад</a>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h4 class="text-center m-5">
                {% if text = 0 %}
                    Предварительный
                {% else %}
                    Стартовый
                {% endif %}
                список "{{ tournament.name }}"
            </h4>
        </div>
    </div>
</div>

<div class="container">
    <div id="infoTournament" class="row">
        <div class="col-md-2 order-md-2 mb-4">
        </div>
        <div class="col-md-8 order-md-2 mb-4">
            <table class="table table-bordered">
                <thead class="thead-light">
                <tr>
                    <th scope="col">Фамилия</th>
                    <th scope="col">Имя</th>
                    <th scope="col">Отчество</th>
                    <th scope="col">Рейтинг</th>
                    {% if text = 0 %}
                        <th scope="col">Отметка</th>
                    {% endif %}
                </tr>
                </thead>
                <tbody>
                {% for player in players %}
                <div>
                    {% if player.activ = 1 %}
                    <tr class="alert-success">
                    {% else %}
                    <tr>
                    {% endif %}
                        <th scope="col">{{ player.last }}</th>
                        <th scope="col">{{ player.first }}</th>
                        <th scope="col">{{ player.patro }}</th>
                        <th scope="col">{{ player.rating_rus }}</th>
                        {% if player.activ %}
                            {% if player.activ = 1 %}
                                <th scope="col"><a href="list_players/{{ player.id_player_list }}/mark/0">Отменить</a></th>
                            {% else %}
                                <th scope="col"><a href="list_players/{{ player.id_player_list }}/mark/1">Пришел</a></th>
                            {% endif %}
                        {% endif %}
                    </tr>
                </div>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-md-2 order-md-2 mb-4">
        </div>
    </div>
</div>

{% endblock %}
