{% extends "new_base.html" %}
{% block content %}
<!--<script>-->
<!--    setTimeout(function(){-->
<!--        location.reload();-->
<!--    }, 15000);-->
<!--</script>-->

<nav class="nav nav-pills nav-justified  bg-light">
    <a href="/tournaments/info/{{ tournament.id }}" class="nav-item nav-link">Общая информация</a>
    <a href="/tournaments/{{ tournament.id }}/prev_list" class="nav-item nav-link active">Предварительный список</a>
    <a href="/tournaments/{{ tournament.id }}/start_list" class="nav-item nav-link">Стартовый список</a>
    <a href="/tournaments/{{ tournament.id }}/tours" class="nav-item nav-link">Туры</a>
    <a href="#" class="nav-item nav-link">Результаты</a>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h4 class="text-center m-5">
                {% if text = 0 %}
                    Предварительный
                {% else %}
                    Стартовый
                {% endif %}
                список "{{ tournament.name }}"
                <a href="/tournaments/{{ tournament.id }}/prev_list/export" type="button" class="btn btn-outline-success">Экспорт</a>
            </h4>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div id="infoTournament" class="row">
        <div class="col-md-12">
            <table class="table table-bordered">
                <thead class="thead-light">
                <tr class="text-center">
                    <th scope="col" style="width: 160px"><p class="align-middle">Фамилия</p></th>
                    <th scope="col" style="width: 160px"><p class="align-middle">Имя</p></th>
                    <th scope="col" style="width: 190px"><p class="align-middle">Отчество</p></th>
                    <th scope="col"><p class="align-middle">Дата рождения</p></th>
                    <th scope="col"><p class="align-middle">Регион</p></th>
                    <th scope="col"><p class="align-middle">Адрес</p></th>
                    <th scope="col" style="width: 100px"><p class="align-middle">Рейтинг</p></th>
                    <th scope="col" style="width: 100px"><p class="align-middle">Рейтинг FIDE</p></th>
                    <th scope="col" style="width: 100px"><p class="align-middle">Звание</p></th>
                    {% if text = 0 %}
                        <th scope="col" style="width: 110px"><p class="align-middle">Действие</p></th>
                    {% endif %}
                </tr>
                </thead>
                <tbody>
                {% for player in players %}
                <form method="POST" id="form{{ player.id_player_list }}" action="/tournaments/{{ tournament.id }}/list_players/{{ player.id_player_list }}/update">
                    {% csrf-field %}
                </form>
                    <div>
                        {% if player.activ = 1 %}
                        <tr class="alert-success">
                        {% else %}
                        <tr  style="height: 10px">
                        {% endif %}

                            <th scope="col" class="p-1">
                                {% if player.activ = 1 %}
                                    {{ player.last }}
                                {% else %}
                                    <input type="text" form="form{{ player.id_player_list }}" class="form-control" name="last_name" id="last_name{{ player.id_player_list }}" oninput="saveButton({{ player.id_player_list }})" value="{{ player.last }}">
                                {% endif %}
                            </th>

                            <th scope="col" class="p-1">
                                {% if player.activ = 1 %}
                                    {{ player.first }}
                                {% else %}
                                    <input type="text" form="form{{ player.id_player_list }}" class="form-control" name="first_name" id="first_name" placeholder="Иван" oninput="saveButton({{ player.id_player_list }})" value="{{ player.first }}">
                                {% endif %}
                            </th>

                            <th scope="col" class="p-1">
                                {% if player.activ = 1 %}
                                    {{ player.patro }}
                                {% else %}
                                    <input type="text" form="form{{ player.id_player_list }}" class="form-control" name="patro" id="patro" placeholder="Иванович" oninput="saveButton({{ player.id_player_list }})" value="{{ player.patro }}">
                                {% endif %}
                            </th>

                            <th scope="col" class="p-1">
                                {% if player.activ = 1 %}
                                    {{ player.date_born|date:dd.MM.yyyy }}
                                {% else %}
                                    <input type="date" form="form{{ player.id_player_list }}" name="date_born" class="form-control" id="date_born" oninput="saveButton({{ player.id_player_list }})" value="{{ player.date_born }}">
                                {% endif %}
                            </th>

                            <th scope="col" class="p-1">
                                {% if player.activ = 1 %}
                                    {{ player.region }}
                                {% else %}
                                    <select class="form-control p-0" form="form{{ player.id_player_list }}" name="region" id="region" onclick="saveButton({{ player.id_player_list }})">
                                        {% for region in regions %}
                                            {% ifequal player.id_region region.id %}
                                                <option value="{{ region.id }}" selected>{{ region.name }}</option>
                                            {% else %}
                                                <option value="{{ region.id }}">{{ region.name }}</option>
                                            {% endifequal %}
                                        {% endfor %}
                                    </select>
                                {% endif %}
                            </th>

                            <th scope="col" class="p-1">
                                {% if player.activ = 1 %}
                                    {{ player.adres }}
                                {% else %}
                                    <input type="text" form="form{{ player.id_player_list }}" class="form-control" name="adress" id="adress" oninput="saveButton({{ player.id_player_list }})" placeholder="ул. Островского 8-108" value="{{ player.adres }}">
                                {% endif %}
                            </th>

                            <th scope="col" class="p-1">
                                {% if player.activ = 1 %}
                                    {{ player.rating_rus }}
                                {% else %}
                                    <input type="text" form="form{{ player.id_player_list }}" class="form-control" name="rating_rus" id="rating_rus" oninput="saveButton({{ player.id_player_list }})" placeholder="1000" value="{{ player.rating_rus }}">
                                {% endif %}
                            </th>

                            <th scope="col" class="p-1">
                                {% if player.activ = 1 %}
                                    {{ player.rating_fide }}
                                {% else %}
                                    <input type="text" form="form{{ player.id_player_list }}" class="form-control" name="rating_fide" id="rating_fide" oninput="saveButton({{ player.id_player_list }})" placeholder="0" value="{{ player.rating_fide }}">
                                {% endif %}
                            </th>

                            <th scope="col" class="p-1">
                                {% if player.activ = 1 %}
                                    {{ player.title_rus }}
                                {% else %}
                                    <select class="form-control p-0" form="form{{ player.id_player_list }}" name="title" id="title" onclick="saveButton({{ player.id_player_list }})">
                                        {% for title-rus in titles-rus %}
                                            {% ifequal player.id_title_rus title-rus.id %}
                                                <option value="{{ title-rus.id }}" selected>{{ title-rus.code }}</option>
                                            {% else %}
                                                <option value="{{ title-rus.id }}">{{ title-rus.code }}</option>
                                            {% endifequal %}
                                        {% endfor %}
                                    </select>
                                {% endif %}
                            </th>

                            {% if player.activ %}{% if player.activ = 1 %}
                            <th scope="col" class="p-1"><a type='button' style="width: 110px" class='btn btn-success' href="list_players/{{ player.id_player_list }}/mark/0">Отменить</a></th>
                            {% else %}
                            <th id="th{{ player.id_player_list }}" scope="col" class="p-1"><a type='button' style="width: 110px" class='btn btn-muted' href="list_players/{{ player.id_player_list }}/mark/1">Пришел</a></th>
                            {% endif %}{% endif %}
                        </tr>
                    </div>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>


<script>
    function saveButton(id) {
        document.getElementById('th' + id).innerHTML = "<input type='submit' form='form" + id + "' style='width: 110px' class='btn btn-warning border border-dark'>Сохранить</input>";
        document.getElementById('th' + id).childNodes[1].remove();
    }
</script>
{% endblock %}
