{% extends "new_base.html" %}
{% block content %}

<nav class="nav nav-pills nav-justified  bg-light">
    <a href="/tournaments/info/{{ tournament.id }}" class="nav-item nav-link">Общая информация</a>
    <a href="/tournaments/{{ tournament.id }}/prev_list" class="nav-item nav-link">Предварительный список</a>
    <a href="/tournaments/{{ tournament.id }}/start_list" class="nav-item nav-link active">Стартовый список</a>
    <a href="/tournaments/{{ tournament.id }}/tours" class="nav-item nav-link">Туры</a>
    <a href="#" class="nav-item nav-link">Результаты</a>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h4 class="text-center m-5">
                {% if text = 0 %}
                    Предварительный
                {% else %}
                    Стартовый
                {% endif %}
                список "{{ tournament.name }}"
                {% ifequal role "admin" %}
                    <a href="/tournaments/{{ tournament.id }}/start_list/export" type="button" class="btn btn-outline-success">Экспорт</a>
                {% endifequal %}
            </h4>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div id="infoTournament" class="row">
        <div class="col-md-12">
            <table class="table table-bordered">
                <thead class="thead-light">
                <tr class="text-center">
                    <th scope="col" style="width: 160px"><p class="align-middle">Фамилия</p></th>
                    <th scope="col" style="width: 160px"><p class="align-middle">Имя</p></th>
                    <th scope="col" style="width: 190px"><p class="align-middle">Отчество</p></th>
                    <th scope="col"><p class="align-middle">Дата рождения</p></th>
                    <th scope="col"><p class="align-middle">Регион</p></th>
                    <th scope="col"><p class="align-middle">Адрес</p></th>
                    <th scope="col" style="width: 100px"><p class="align-middle">Рейтинг</p></th>
                    <th scope="col" style="width: 100px"><p class="align-middle">Рейтинг FIDE</p></th>
                    <th scope="col" style="width: 100px"><p class="align-middle">Звание</p></th>
                    {% if text = 0 %}
                        <th scope="col" style="width: 110px"><p class="align-middle">Действие</p></th>
                    {% endif %}
                    <th scope="col"><p class="align-middle">Действие</p></th>
                </tr>
                </thead>
                <tbody>
                {% for player in players %}
                <div>
                    <tr  style="height: 10px">
                        <th scope="col" class="p-1">{{ player.last }}</th>
                        <th scope="col" class="p-1">{{ player.first }}</th>
                        <th scope="col" class="p-1">{{ player.patro }}</th>
                        <th scope="col" class="p-1">{{ player.date_born|date:dd.MM.yyyy }}</th>
                        <th scope="col" class="p-1">{{ player.region }}</th>
                        <th scope="col" class="p-1">{{ player.adres }}</th>
                        <th scope="col" class="p-1">{{ player.rating_rus }}</th>
                        <th scope="col" class="p-1">{{ player.rating_fide }}</th>
                        <th scope="col" class="p-1">{{ player.title_rus }}</th>
                        <th scope="col" class="p-1"><a type="button" class="btn btn-outline-danger">Исключить</a></th>
                    </tr>
                </div>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>


<script>
    function saveButton(id) {
        document.getElementById('th' + id).innerHTML = "<a type='button' style='width: 110px' id='text'" + id + " class='btn btn-warning'>Сохранить</a>";
    }
</script>
{% endblock %}
