{% extends "base.html" %}
{% block content %}
<div class="alert alert-info" role="alert">
    <a href="/tournaments/{{ tournament.id }}/start_list" type="button" class="btn btn-info text-light">Стартовый список</a>
    {% if tours %}
    {% else %}
        <a href="/tournaments/{{ tournament.id }}/pairs" type="button" class="btn btn-info text-light">Провести жеребьевку</a>
    {% endif %}
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h4 class="text-center m-5">
                Туры {{ tournament.name }}
            </h4>
        </div>
    </div>
</div>
{% endblock %}
